<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>

    {{>navout}}
    <!--Section: Contact v.2-->

    <div class="row mx-auto justify-content-center mt-4">
        <div class="col-11 col-md-7 col-sm-8 col-lg-5 mx-auto mt-3 logbox curve h-100 shadow py-4">

        <div class="text-center">
            <img src="../images/rundeer.gif" alt="">
            <img src="../images/gspiner.gif" alt="">
            <img src="../images/gspiner.gif" alt="">
            
            <img src="../images/rundeer.gif" alt="">
        </div>
        <h1 class="text-center"><img src="../images/bubblegreen.gif" alt=""> Soon About page will Appear !!!<img src="../images/bubblegreen.gif" alt=""></h1>
        <marquee behavior="" class="text-success" direction="left"> Hi, Soon we will built this page.. content is being created.. Thank you </marquee>

        </div>
    </div>







    {{>scriptcdn}}
</body>

</html>