        <footer class="footer mt-auto py-3 bg-light">
            <div class="container row justify-content-center align-items-center mx-auto">
                <div class="col-11 col-sm-3 text-center h2 text-secondary ">
                    Officers
                </div>
                <div class="col-11 col-sm-2  text-center text-secondary ">
                    <p class="mb-0"><a class="text-decoration-none text-secondary"
                    href="/help">Help</a></p>

                </div>
                <div class="col-11 col-sm-2  text-center text-secondary ">
                    <p class="mb-0"><a class="text-decoration-none text-secondary"
                    href="/about">About</a></p>

                </div>
                <div class="col-11 col-sm-2  text-center text-secondary ">
                    <p class="mb-0"><a class="text-decoration-none text-secondary"
                    href="/profile">Profile</a></p>

                </div>
                
                

                {{!-- <div class="col-10 text-left  text-secondary">


                </div> --}}
            </div>
            <div class="row mx-auto justify-content-center">
                <div class="col-11 col-sm-5 text-center ">
                    All rights reserverd to <a class="text-decoration-none"
                        href="https://">Infoware.in</a>
                </div>
            </div>
        </footer>