<div class="modal fade" id="staticBackdropPic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog mx-auto">
        <form action="/profilepic" method="POST"  enctype="multipart/form-data" onsubmit="return submitForm();">
            <div class="modal-content ">
                <div id="preloader" class="mx-auto text-center my-2" style="display:none;"><img src="../images/gspiner.gif" alt="this slowpoke moves" /><p>Uploading Images..</p></div>
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Select Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="file" name="image" value="{{userData.image}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" >Update</button>
                    

                </div>
            </div>
            <iframe name="uploadFrame" id="uploadFrame"
                style="width:0;height:0;margin:0;visibility:hidden;position:absolute;"></iframe>
        </form>
    </div>
</div>
<script>
    function submitForm() {
        var preloader = document.getElementById("preloader");
        preloader.style.display = "block";

        var iframe = document.getElementById("uploadFrame");
        iframe.onload = function () {
            // hide the preloader on complete
            preloader.style.display = "none";
        };

        return true;
    }
</script>