        <nav class="navbar navbar-expand-lg navbar-light bg-light nav">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <h1 class="navbar-brand my-0 mx-auto title"><span>officer &nbsp &nbsp    &nbsp</span> </h1>
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link  h5 " aria-current="page" href="/home">Home</a>
                        <a class="nav-link  h5 " aria-current="page" href="/profile">Profile</a>
                        <a class="nav-link h5 " href="/about">About</a>
                        <a class="nav-link h5 " href="/help">Help</a>
                        <a class="nav-link  h5 text-danger"  href="/logout">Logout</a>

                    </div>
                </div>
            </div>
            
        </nav>

        <div class="offcanvas offcanvas-width" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h4 class="offcanvas-title h4 text-secondary" id="offcanvasWithBothOptionsLabel">Officer </h4>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">

                <div class="navbar-nav h5">
                    <a class="nav-link text-secondary border-bottom border-0  text-center m-2" aria-current="page"
                        href="/home">Home</a>
                    <a class="nav-link text-secondary border-bottom border-0  text-center m-2" aria-current="page"
                        href="/profile">Profile</a>
                    <a class="nav-link text-secondary border-bottom border-0  text-center mx-2" href="/about">About</a>
                    <a class="nav-link text-secondary border-bottom border-0  text-center mx-2" href="/help">Help</a>
                    <a class="nav-link text-danger border-bottom border-0  text-center mx-2" href="/logout">Logout</a>

                </div>
            </div>

        </div>